@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


.sora {
    font-family: "Sora", serif;
}

.poppins {
    font-family: "Poppins", serif;
}

#banner:hover #image,
#banner:hover #text {
    animation: scale 2s ease-out 1 alternate;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.card:hover {
    transition: all 1.2s ease-out;
    transform: scale(1.06) translate(0, -12px);

}